@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    line-height: 1.6;
    color: var(--font-color);
}

@media screen and (min-width: 768px) {
    body,
    input {
        font-size: 12pt;
    }
}

@media screen and (min-width: 992px) {
    body,
    input {
        font-size: 13pt;
    }
}

@media screen and (min-width: 1200px) {
    body,
    input {
        font-size: 14pt;
    }
}
/*
 * Flächendeckender Seitenhintergrund auf großen Bildschirmen
 */
@media (min-width: 85em) {
    /* Hintergrundbild hinter dem Hauptbereich der App */
    html {
        /* https://pixabay.com/de/computer-notebook-kaffee-820281/ */
        background-image: url(background.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    /* Hauptbereich der App vergrößern */
    body {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    body > * {
        flex: 1;
    }
}

/*
 * Häufig benötigte Hilfsklassen
 */
.hidden {
    display: none;
}

.padding {
    padding: 0.5rem;
}



/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
