#app {}
    header * {
    	text-align: center;
    	font-family: 'Roboto', sans-serif;
    }

    header h2 {
    	font-size: 4em;
    	font-weight: normal;
    	text-transform: uppercase;
    	text-shadow: 2px 2px 0 #000;
    }

    header p a, h2 {
    	font-size: 1.8em;
    	letter-spacing: -1px;
    	color: #DFBF84;
    	text-transform: uppercase;
    	text-shadow: 1px 1px 0 #000;
    }
